<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1053059319205-bct4i0hk63qno8g87r7d798vp5agm5v7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1053059319205-bct4i0hk63qno8g87r7d798vp5agm5v7</string>
	<key>API_KEY</key>
	<string>AIzaSyAZniLH9DB6a-pdcwGPY87jdDM4U_pVwsQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1053059319205</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fproject</string>
	<key>PROJECT_ID</key>
	<string>chat-f-project</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-f-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1053059319205:ios:f991f8ec827dff71bc944c</string>
</dict>
</plist>